

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primario: aqua;
    --azul-fondo:  #191c32;

}

body{
    font-family: Montserrat, sans-serif;
    overflow-x: hidden;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background: var(--azul-fondo);
    color: #fff;
}


.navbar{
    display: flex;
    justify-content: space-between;
    padding: 32px;
    
}


.brand{
 margin-top: -3px;
 font-size: 32px;
}



.brand span{
    color: var(--color-primario);
    /* padding-top: 20px; */
    margin-top: 12px;

}


.menu{
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin-top: 14px;
}



.menu a{
    color: #fff;
    text-decoration: none;
    /* color: aqua; */
    padding-bottom: 1px;
    text-decoration: none;
    border-bottom: 2px solid var(--color-primario);
    padding: 10px 20px;

}


.menu a:hover{

    background: var(--color-primario);
    color: #ffff;
    font-weight: bold;
    transition: ease-in-out .3s;
    /* padding: 10px; */



}


.menu li{
    list-style: none;
}

/* Comienza parte de información personal */

.main{
    /* con el margin lo que hace es que no le aplica margenes arriba ni abajo, solo de los lados y lo centra respecto al tamaño del width */
    margin: 0 auto; 
    width: 80vw;
    height: 80vh;
    /* se aplica grid considerando dos columnas de 1 un fr */
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    align-items: center;
  
}

.main h1{
    font-size: 3em;
}

.main img {

    width: 500px;
}

.info-personal{
    text-align: center;
}


.descargar{
    font-weight: bold;
    font-size: 15px;
    margin-top: 20px;
    padding: 10px;
    background: none;
    border: none;
    border-bottom: 2px solid var(--color-primario);
    /* border: 2px solid var(--color-primario); */
    /* border-radius: 10px; */
    color: #fff;
    font-family:  Montserrat, sans-serif;
}


.descargar:hover{
  background: var(--color-primario);
}


.about{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    /* Convierte en grillas de 10 columas */
    align-items: center;
}

.about img{
    width: 97.5%;
    grid-column: 1/5; 
    /* Parte de la columna 1 a la 5 */
}

.info h2 {
    font-size: 42px;
    font-weight: bolder;
    color: var(--azul-fondo);
}

.about .info{
    grid-column: 5/10 ;
    /* Empieza de la 5 a la 10 */
    padding: 5em ;
}

.separador{
    height: 4px;
    width: 100px;
    background:var(--color-primario) ;
    margin-bottom: 26px;
}


.info p{
    margin-bottom: 10px ;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
}

.about .leermas{
    width: 150px;
    height: 40px;
    background: var(--color-primario);
    border: 2px solid var(--color-primario);
    margin-top: 15px;
    color: var(--azul-fondo);
    border-radius: 55px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    
}

.about .leermas:hover{
    background: #fff;
    /* border: 2px solid var(--color-primario); */
    transition: all .8s;
}

.centrado{
    text-align: center;
}


/* PORTAFOLIO */

.portafolio{
    width: 100vw;
    /* height: 100vh; */
    background: var(--azul-fondo);
}

.portafolio-headings{
    width: 100vw;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    padding: 5em;
}

.portafolio-headings h2{
    font-size: 2.5em;
    color: #fff;
}

.portafolio .container{
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.card{
    width: 300px;
    height: 360px;
    background-color: #1f2b83;
    margin: 1em;
    border-radius: 20px;
}

.card_img{
    width: 100%;
    height: 150px;
    background-image: url(../img/portafolio2.png);
    background-size: cover;
    border-radius: 10px 10px 0 0;
}

.card_title{
    padding: 20px;
    text-align: center;
}

.card_title h2{
    font-size: 20px;
    /* font-weight: bold; */
    color: #fff;
}

.projects-links{
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin:  30px 0;

}

.projects-links i{
    font-size: 1.5em;
    color: #ffff;
    
}

.card .project-details{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin: auto;
    width: 170px;
    text-align: center;
    height: 40px;
    border-radius: 30px;
    border: 2px solid var(--color-primario);
    background: var(--color-primario);
    font-family: 'Poppins', sans-serif;
    
}


.card .project-details:hover > a{
  color: #fff;
}

.card .project-details:hover{
    background: none;
  }
  



.project-details a{
    text-align: center;
    text-decoration: none;
    margin: auto;
    color: #000;
    font-weight: bold;
    font-size: 1.1em;
    /* font-size: 1em; */
    /* padding: 10px; */
}

.card p{
    padding: 15px;
    text-align: left;
    color: #fafafa;
}



.contact-section{
    /* padding: 3em;
    margin: 0 auto; */
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    align-items: center;
}

.contact-section img{
    width: 95%;
    height: 100vh;
    grid-column: 1/5; 
}


.container-contact h2{
    font-size: 2.5em;
    color: var(--azul-fondo);
}

.container-contact>h3{
margin: 10px 0;
}


.contact-section .container-contact{
 grid-column: 6/10 ;
}

.form-control{
    display: flex;
    flex-direction: column;
}

.form-control input,textarea{
    border-radius: 10px;
    outline: none;
    border: 2px solid var(--color-primario);
    font-family: 'Raleway', sans-serif;
    margin: 15px 0;
    padding: 10px 20px;
    /* arriba/abajo y a los lados */
}

.btn-submit{
    border-radius: 20px;
    border: 2px solid var(--azul-fondo);
    background-color: var(--azul-fondo);
    width: 170px;
    height: 35px;
    margin: 0  auto;
    font-family:'Raleway', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #ffff;
}

.btn-submit:hover{
    border: none;
    background: var(--color-primario);
    color: var(--azul-fondo);    
}


.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    background: var(--azul-fondo);
    color: #fff;
    
}

.footer-content{
    width: 45%;
    /* align-items: center; */
    text-align: center;
}

.social-network{
    width: 45%;
}

.footer-content h2,h5{
    font-weight: 200;
    font-family: 'Raleway', sans-serif;
    /* font-size: 20px; */
}

.footer-content h2{
    font-size: 2em;
}
.footer-content h5{
    /* font-size: 2em; */
    margin-top: 10px;
}

.footer-content .separador{
    margin-bottom: 4px;
    margin: 0 auto;
}


.social-network{
    display: flex;
    justify-content: space-evenly;
}

.social-network i{
    font-size: 1.5em;
    margin: 0 10px;
    border-bottom: 2px solid var(--color-primario);
    padding-bottom: 10px;
    
}




